Flow 2.json
[{"id":"4b5be3cd.75e55c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"94710cf8.d75ae","type":"inject","z":"4b5be3cd.75e55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["51a55bec.5a4fe4"]]},{"id":"51a55bec.5a4fe4","type":"function","z":"4b5be3cd.75e55c","name":"payload","func":"msg.headers={\n    deviceKey: \"4chAya5wb98PYkUy\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["4592ed6d.c3cc74"]]},{"id":"4592ed6d.c3cc74","type":"http request","z":"4b5be3cd.75e55c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DsGJHVGf/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":150,"y":220,"wires":[["8886c25a.57505","629d5f7f.e6b46"]]},{"id":"8886c25a.57505","type":"debug","z":"4b5be3cd.75e55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":260,"y":320,"wires":[]},{"id":"629d5f7f.e6b46","type":"http response","z":"4b5be3cd.75e55c","name":"","statusCode":"","headers":{},"x":330,"y":200,"wires":[]}]