Flow 3.json
[{"id":"88719f70.2125e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"874498b8.c030a8","type":"inject","z":"88719f70.2125e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["2a6797f9.1fa4a8"]]},{"id":"2a6797f9.1fa4a8","type":"function","z":"88719f70.2125e","name":"","func":"msg.headers={\n    deviceKey: \"4chAya5wb98PYkUy\"\n    };\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":180,"wires":[["13b20073.defc8"]]},{"id":"13b20073.defc8","type":"http request","z":"88719f70.2125e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DsGJHVGf/datapoints.csv","tls":"","proxy":"","authType":"","x":360,"y":180,"wires":[["f05162cf.8e0e1","bafd8379.0f404"]]},{"id":"f05162cf.8e0e1","type":"http response","z":"88719f70.2125e","name":"","statusCode":"","headers":{},"x":400,"y":260,"wires":[]},{"id":"bafd8379.0f404","type":"debug","z":"88719f70.2125e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":320,"wires":[]}]