Flow 1.json
[{"id":"626a68dd.57d798","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cb88313.85a27c","type":"rpi-gpio out","z":"626a68dd.57d798","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":350,"y":180,"wires":[]},{"id":"b669d898.f3fef8","type":"debug","z":"626a68dd.57d798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":100,"wires":[]},{"id":"29166184.14b8fe","type":"rpi-gpio in","z":"626a68dd.57d798","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":180,"wires":[["b669d898.f3fef8","b4006511.2e6fe8"]]},{"id":"b4006511.2e6fe8","type":"switch","z":"626a68dd.57d798","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":280,"wires":[["aaf8ba2e.1e8578"],["dd8817b2.d4d9e8"]]},{"id":"aaf8ba2e.1e8578","type":"change","z":"626a68dd.57d798","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["3cb88313.85a27c"]]},{"id":"dd8817b2.d4d9e8","type":"change","z":"626a68dd.57d798","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":380,"wires":[["3cb88313.85a27c"]]}]